<!-- Full Width Image Header -->
<header>
  <div class="headline">
    <div class="container">
      <br>
      <br>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h2>Forgot your password?</h2>

          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>
              </div>

              <div class="form-actions">
                <%= link_to '', new_session_path(resource_name), class: 'btn btn-circle btn-color1 glyphicon glyphicon-chevron-left', data: { toggle: 'tooltip', placement: 'bottom', original_title: 'Go Back' }  %>
                <%= f.button :submit, "Send Instructions", class: 'btn btn-color3' %>
              </div>
          <% end %>
          <br>

        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</header>
