<!-- Full Width Image Header -->
<header class="header-image">
  <div class="headline">
    <div class="container-fluid">
      <h1 id="page_title">Rundown</h1>
      <h2 id="page_title">A photo diary for running.</h2>
      <br>
      <br>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="container-fluid">
            <ul class="nav nav-tabs">
              <li style="width:50%" class="active"><a href="#">LogIn</a></li>
              <li style="width:50%"><%= link_to "SignUp", new_registration_path(resource_name), class: 'font_fix' %></li>
            </ul>
            <br>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-inputs">
                  <%= f.input :email, required: false, autofocus: true %>
                  <%= f.input :password, required: false %>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>
                <br>
                <div class="form-actions">
                  <%= f.button :submit, "Log in", class: 'btn btn-color1' %>
                  <br>
                  <br>
                  <div class="btn-group dropdown">
                    <button type="button" class="btn btn-color3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Login with an Account <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="https://run-down.herokuapp.com/users/auth/twitter"><i class="fa fa-twitter" style="color:#1DA1F3;"></i> Twitter </a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="https://run-down.herokuapp.com/users/auth/facebook"><i class="fa fa-facebook" style="color:#3b5998;"></i> Facebook </a></li>
                    </ul>
                  </div>
                  <br>
                  <br>
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                      <%= link_to "Forgot?", new_password_path(resource_name), class: 'font_fix' %><br />
                  <% end -%>
                  <br>
                </div>
                </div>
            <% end %>
            <div class="col-md-4"></div>
            </div>
      </div>
    </div>
  </div>
</header>
