#run_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.run_image
        = image_tag @run.image.url
      .list-group
        .list-group-item
          %h2 Date: #{@run.date.strftime("%A %B %d")}
        .list-group-item
          %h2 Distance: #{@run.distance}
        .list-group-item
          %h2 Pace: #{@run.pace}
        .list-group-item
          %h2 Mood: #{@run.mood}
      .panel-footer
        .row
          = link_to '', root_path, title: 'Back', class: 'btn btn-circle btn-color3 glyphicon glyphicon-chevron-left'
          = link_to '', edit_run_path(@run), title: 'Edit Run', class: 'btn btn-circle btn-color3 glyphicon glyphicon-pencil'
          = link_to '', run_path(@run), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete the Run', class: 'btn btn-circle btn-color3 glyphicon glyphicon-trash'
          .pull-right
            = link_to '', "http://twitter.com/home?status=I ran #{@run.distance + ' and felt ' + @run.mood.downcase} %23rundown", title: 'Share Run', class: 'btn btn-color1 btn-circle glyphicon glyphicon-thumbs-up'
