#run_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.run_image
        = image_tag @run.image.url
      .list-group
        .list-group-item
          %h2 Date: #{@run.date.strftime("%A %B %d")}
        .list-group-item
          %h2 Distance: #{@run.distance}
        .list-group-item
          %h2 Pace: #{@run.pace}
        .list-group-item
          %h2 Mood: #{@run.mood}
      .panel-footer
        .row
          = link_to 'Back', root_path, class: 'btn btn-primary glyphicon glyphicon-chevron-left'
          = link_to 'Edit', edit_run_path(@run), class: 'btn btn-primary glyphicon glyphicon-pencil'
          = link_to 'Delete', run_path(@run), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary glyphicon glyphicon-trash'
