#run
  %p= @run.date
  %p= @run.distance
  %p= @run.pace
  %p= @run.mood

= link_to 'Back', root_path
|
= link_to 'Edit', edit_run_path(@run)
|
= link_to 'Delete', run_path(@run), method: :delete, data: { confirm: 'Are you sure?' }
