!!!
%html
%head
  %title RunDown
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    .container
      .navbar-header
      = link_to 'RunDown', root_path, title: 'Home', class: 'navbar-brand'
        - if current_user
        .nav.navbar-nav.navbar-right
          = link_to '', new_run_path, title: 'Add a Run', class: 'btn btn-circle btn-color1 glyphicon glyphicon-plus'
          = link_to '', destroy_user_session_path, method: :delete, title: 'Logout', class: 'btn btn-circle btn-color3 glyphicon glyphicon-log-out'
  .container
    = render 'layouts/messages'
    = yield

    #footer{:align => "center"}, class: 'navbar nav navbar-fixed-bottom'
      .container
        %p.text-muted.credit
          RunDown was created by
          %a{:href => "http://jspeek.me"} Jonathan Speek
